<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>
<div class="row">
  <div class="col-md-4">
                    <div class="profile-info">
                        <% if @user.avatar.present? %>
                      <%=image_tag @user.avatar_url(), :class => "img-responsive profile-photo" %>
                  <% end %>
                    </div>
                </div>
  <div class="col-md-6">
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages", object: @user %>
      <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
      	<div>
          <%= f.label :avatar%><br>
            <%= f.file_field :avatar, class: "form-control" %>
        </div>

      <div>
      	<%= f.label :login_name %>
      	<%= f.text_field :login_name, class: "form-control" %>
  		</div>

      <div>
      <%= f.label :gender %>
      <div id = "radio_button">
        Male<%= f.radio_button :gender, "male" %>
        Female<%= f.radio_button :gender, "female" %>
        Other<%= f.radio_button :gender, "other" %>
      </div>
  	  </div>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
  </div>
</div>
<%= javascript_include_tag "user_edit" %>
